<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Prm"
        android:networkSecurityConfig="@xml/network_security_config"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Prm">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.auth.LoginActivity"
            android:exported="false"
            android:theme="@style/Theme.Prm" />

        <activity
            android:name=".ui.auth.RegisterActivity"
            android:exported="false"
            android:theme="@style/Theme.Prm" />

        <activity
            android:name=".ui.vehicle.VehicleSelectionActivity"
            android:exported="false" />

        <activity
            android:name=".ui.home.HomeActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:exported="false" />

        <activity
            android:name=".ui.booking.CenterListActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:parentActivityName=".ui.home.HomeActivity" />

        <activity
            android:name=".ui.booking.ServiceListActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:parentActivityName=".ui.booking.CenterListActivity" />

        <activity
            android:name=".ui.booking.CenterDetailActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:parentActivityName=".ui.booking.CenterListActivity" />

        <activity
            android:name=".ui.booking.DateTimeSelectionActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:parentActivityName=".ui.booking.ServiceListActivity" />

        <activity
            android:name=".ui.booking.VehicleSelectionActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:parentActivityName=".ui.booking.DateTimeSelectionActivity" />

        <activity
            android:name=".ui.booking.BookingConfirmationActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:parentActivityName=".ui.booking.VehicleSelectionActivity" />

        <activity
            android:name=".ui.profile.ProfileActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:parentActivityName=".ui.home.HomeActivity" />

        <activity
            android:name=".ui.vehicle.AddVehicleActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:parentActivityName=".ui.booking.VehicleSelectionActivity" />

        <activity
            android:name=".ui.profile.EditProfileActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:parentActivityName=".ui.profile.ProfileActivity" />

        <activity
            android:name=".ui.profile.ChangePasswordActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:parentActivityName=".ui.profile.ProfileActivity" />

    </application>

</manifest>